#votes {
 float: right;
}

.origPost {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 10%;
  margin-bottom: 1%;
}

.delete{
 width: 80px;
 float: right;
}
.edit{
 width: 80px;
 float: right;
}

.update {
 float: right;
}

.cancel {
 float: right;
}

/*.submit {
 width: 80px;
 vertical-align: center;
}*/

.voteup {
 float: right;
}

.votedown {
 float: right;
}

.getjobs {
 margin-left: 24px;
}

.addPostButton {
  float: right;
  padding-top: 1%;
  padding-bottom: 1%;
}

.modalButtons {
  float: right;
  padding-top: 1%;
  padding-bottom: 1%;
}


.updatePostIcons {
  float: right;
}

.jobscard{
 height: 40%;
 border: 1px solid !important;
 border-radius: 10px !important;
 background-color: #d1e1f9 !important;
}
